@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: red; */
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #dbeafe, white);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo {
  font-size: 16px;
  font-weight: 550;
}

.links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.link-items {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
  font-weight: 200;
}
.link-items:hover {
  color: black;
  transition: color 0.3s ease-in-out;
}

.btn {
  all: unset;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #3b82f6;
  border-radius: 4px;
  color: #ffff;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.badge {
  font-size: 16px;
  max-width: 400;
  border-radius: 50%;
  background-color: #d1d5db;
  padding: 4px 8px;
  width: fit-content;
  margin: 0 auto;
}
